body{ 
background-color: #FEFEF2;
}

/*
 nav {
float: right;
padding: 20px;
width:100%;
}
*/

a {
color: #DCDCDC;
text-decoration: none;
font-weight: bold;
padding-right:20px;
font-size:20px;
}

a:hover {
color:lightslategray;
text-decoration: none;
}

/*

  #banner {
   width:100%;
   height:250px;
   background:url(./banner2.png) no-repeat center;
   margin:0;
   padding:0;
}
*/
  #banner {
   width:100%; 
   height:250px; 
   margin:0; 
   padding:0; 
}

.banner-img{
width: 100%;
  height: 100%;
  object-fit: cover;
}



h1 {
font-family: 'Righteous', cursive;
font-size:35px;
}

h2{
font-family: 'Righteous', cursive;
font-size:28px;
}

h3{
font-family: 'Righteous', cursive;
font-size:21x;
}

h4,h5{
font-family: 'Righteous', cursive;
}

.header-h1 {
	color:lightsteelblue;
	vertical-align:middle;
}
.header-h3 {
	color:lightsteelblue;
	vertical-align:middle;
}

p {
font-size: 20px;
font-family: 'Source Sans Pro', sans-serif;
line-height: 1.5em;
}

.index-img {
  height: 350px;
  background: url(./rig.jpg) no-repeat center;
  } 

 .about-img {
    height: 350px;
    background: url(./about_me.jpg) no-repeat center;
  } 
  
  .blog-img {
    height: 350px;
    background: url(./vndc.png) no-repeat center;
  }

.side-control {
border-right:2px solid black;
}

.p-left {
background:#3D3D3D;/*#7B68EE;*/
color:white;
font-family: 'Source Sans Pro', sans-serif;
font-size:20px;
padding-left: 7px;
padding-right: 3px;
padding-bottom:10px;
padding-top:25px;
}

.p-left::first-letter {
font-size:50px;
font-family: 'Pacifico', cursive;
font-style:italic;
color:white;
padding-bottom:40px;
}

.p-left::first-line {
font-size:30px;
font-style:italic;
padding-bottom:40px;
}

.typewrite{
	font-size:1em;
	font-style:italic;
	color:#7B68EE;
}


.mobile-logo {
display: none; /*hidden until @media activates*/
}

.mobile-header {
display:none;
}



@media only screen and (max-width : 600px) {
	
/*	
#banner {
   width:100%;
   height:150px;
   background:url(./media1.png) no-repeat center;
   margin:0;
   padding:0;
	}
*/
	
	.mobile-logo {
	display:inline-block;
	}	
	
#banner{
display:none;
}
	
.mobile-header {
	display:block;
	text-align:center;
}
	
	.side-control {
		border: 0;
	}
	
	h1{
	text-align:center;
	}
	
	
.p-left {
padding-left: 7px;
padding-right: 7px;
padding-top:20px;
border-radius:25px;
}
	
.index-img {
width:95%;
border-radius:25px;
margin-bottom:20px;
}
	
	.about-img {
		width:95%;
		border-radius:25px;
		margin-bottom:20px;
		}
		
	.blog-img {
		width:95%;
		border-radius:25px;
		margin-bottom:20px;
		}
		
}

